body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(56, 56, 56);
  display: flex;
  justify-content: center;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body a{
  text-decoration: none;
  color: black;
}



.backdrop-stripe {
  height: 4000px;
  width: 15%;
  background-color: rgb(137, 186, 201);
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
}

.main-content {
  z-index: 2;
  position: relative;
  margin-top: 35px;
  height: 4000px;
  width: 1200px;
  background-color: rgb(255, 255, 255);
  box-shadow: 7px 7px black, -7px 7px 7px black;
  color: black;
  border-radius: 5px;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  border-radius: 5;
  display: flex;
  justify-content:center;
  background-color: rgb(255, 255, 255);
  height: 4.5rem;
}

/* FLOATING FOOTERS */

.mail-float img,
.linkedin-float img {
  background-color: rgb(255, 255, 255);
  height: auto;
  width: 45px;
  position: fixed;
  bottom: 1rem;
  border-radius: 50%;
  border: solid black;
  padding: 5px;
  z-index: 10;
}


.mail-float img {
  left: 8rem;
}

.linkedin-float img {
  left: 13rem;
}

/* navbar */

.navbar {
  position: sticky;
  top: 0;
  /* height: 50px; */
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-heading {
  display: flex;
  align-content: center;
}

.contact-heading #j-logo {
  height: auto;
  width: 1.1rem;
  margin-right: 5px;
  padding: 5px;
  border-radius: 50%;
  border: solid black;
  border-width: 1px;
  /* background-color: yellow; */
  background-image: url(./images/mail.png);
}

.navbar-list {
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
}

.nav-links {
  text-decoration: none;
  color: black;
}

.contact-heading {
  display: flex;
  align-items: center;
}




/* homepage area */
.homepage {
  /* background-color: red; */
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
}

.title-area {
  z-index: 3;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 100px;
}

#name, 
.title-desc {
  color: rgb(146, 141, 141);
  letter-spacing: .05rem;
  margin-bottom: 0px;
  font-weight: 300;
}

.profession {
  font-size: 35px;
  letter-spacing: .1rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.title-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.title-desc {
  margin-bottom: none;
}

.btn {
  margin: 10px 20px;
  color: black;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.headshot-container {
  width: 50%;
  background-image: url(./images/crop2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  position: absolute;
  height: 600px;
  right: 40px;
  opacity: .4;
  top: 120px;
  background-blend-mode: saturation;
}

#homepage-arrow {
  position: fixed;
  bottom: 10px;
  left: 49%;
  height: 2rem;
  width: auto;
  transform: rotate(90deg);
  z-index: 10;
}


/* TIMELINE SECTION */
.timeline {
  /* background-color: red; */
  height: 1200px;
}

.heading-placeholder {
  background-color: white;
  height: 4rem;
}

.timeline-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black;
  margin-top: 5rem;
  /* background: rgb(54, 52, 52); */
  background: linear-gradient(rgb(54, 52, 52), rgb(104, 104, 104));
}

.timeline-title {
  font-size: 40px;
  font-family: Arial;
  letter-spacing: .2rem;
  border-bottom-style: ridge;
  border-color: silver;
  color: rgb(230, 230, 230)
}

.experience-title {
  color: rgb(230, 230, 230);
  font-size: 1.4rem;
}

.timeline-items {
  display: flex;
  flex-direction:  column;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
  position: relative;
}

.timeline-item {
  height: 10rem;
  width: 25rem;
  border: solid rgb(48, 48, 48);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: rgb(230, 230, 230);
  background: rgb(71, 71, 71);
}

.timeline-item h4,
.timeline-item img {
  margin-bottom: 0px;
  text-align: center;
}
.timeline-item h6 {
  margin-bottom: 5px;
}

.year-left {
  color: rgb(230, 230, 230);
  z-index: 2;
  /* margin-right: 50rem;
  margin-bottom: 10px; */
  background: gray;
  padding: 4px;
  border-radius: 5px;
  
}
.year-right {
  color: rgb(230, 230, 230);
  /* margin-left: 50rem;
  margin-bottom: 10px; */
  z-index: 2;
  background: gray;
  padding: 4px;
  border-radius: 5px;
}




.top-item {
  margin-right: 40rem;
  border-radius: 30px 0 30px 30px;
}
.bottom-item {
  margin-left: 40rem;
  border-radius: 0 30px 30px 30px;
}

.blip {
  height: 1rem;
  width: 1rem;
  position: absolute;
  display: flex;
  align-self: center;
  border-radius: 50%;
  border: rgb(172, 172, 172) solid 3px;
  background: white;
  z-index: 2;
  /* bottom: 50%; */
}

.top-item .blip {
  margin-left: 40rem;
}
.bottom-item .blip {
  margin-right: 40rem;
}


.timeline-bar {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: rgb(230, 230, 230);
  position: absolute;
  bottom: 54%;
  transform: rotate(90deg);
}

.timeline-item img {
  height: 50px;
  width: 50px;
  border-radius:50%;
  background: rgb(230, 230, 230);
  border: rgb(172, 172, 172) solid 1.5px;
  
}

.second-line {
  margin-top: 0;
}