html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: url(./images/shadowbackground.jpeg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: linear-gradient(rgb(102, 110, 117), rgb(180, 180, 182));
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  /* background-color: rgb(80, 80, 80); */
  display: flex;
  justify-content: center;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 4350px;
  position: relative;
}
body a{
  text-decoration: none;
  color: black;
}



/* .backdrop-stripe {
  height: 100%;
  width: 15%;
  background-color: rgb(144, 189, 183);
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
} */

.main-content {
  z-index: 2;
  position: relative;
  margin-top: 35px;
  height: auto;
  width: 1200px;
  background-color: rgb(255, 255, 255);
  box-shadow: 7px 7px rgba(255, 255, 255,0), -7px 7px 7px black;
  color: black;
  border-radius: 5px;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  border-radius: 5;
  display: flex;
  justify-content:center;
  background: linear-gradient(rgb(255, 255, 255), rgb(247, 247, 247));
  height: 4.5rem;
  border-radius: 0 0 5px 5px;
}

/* FLOATING FOOTERS */

.mail-float img,
.linkedin-float img {
  background-color: rgb(255, 255, 255);
  height: auto;
  width: 45px;
  position: fixed;
  bottom: 1rem;
  border-radius: 50%;
  border: solid black;
  padding: 5px;
  z-index: 10;
}


.mail-float img {
  left: 8rem;
}

.linkedin-float img {
  left: 13rem;
}

/* navbar */

.navbar {
  position: sticky;
  top: 0;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-heading {
  display: flex;
  align-content: center;
}



.contact-heading #j-logo {
  height: auto;
  width: 1.1rem;
  margin-right: 5px;
  padding: 5px;
  border-radius: 50%;
  border: solid black;
  border-width: 1px;
  /* background-color: yellow; */
  background-image: url(./images/mail.png);
}

.navbar-list {
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
}

.nav-links {
  text-decoration: none;
  color: black;
}

.contact-heading {
  display: flex;
  align-items: center;
}





/* homepage area */
.homepage {
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
}

.title-area {
  z-index: 3;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 200px;
  /* background: red; */
  padding-left: 70px;
}

#name, 
.title-desc {
  color: rgb(146, 141, 141);
  letter-spacing: .05rem;
  margin-bottom: 0px;
  font-weight: 300;
}

.profession {
  font-size: 35px;
  letter-spacing: .1rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.title-buttons {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.title-desc {
  margin-bottom: none;
}

.btn {
  margin: 10px 20px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  border-radius: 5px;
  border-color: solid black;
}

/* HEADSHOT SECTION */

.headshot-container {
  width: 50%;
  background-image:url(./images/crop2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  position: absolute;
  height: 600px;
  right: 40px;
  top: 120px;
}


.headshot-overlay3 {
  background: linear-gradient(rgba(0, 0, 0, 0), white);
  /* background: red; */
  height: 100px;
  width: 600px;
  z-index: 2;
  position: absolute;
  right: 4rem;
  top: 36.5rem;
}
.headshot-overlay4 {
  background: linear-gradient(rgba(0, 0, 0, 0), white);
  /* background: red; */
  height: 100px;
  width: 600px;
  z-index: 2;
  position: absolute;
  right: 4rem;
  top: 36.7rem;
}




#homepage-arrow {
  position: absolute;
  top: 710px;
  left: 49.25%;
  height: 3rem;
  width: auto;
  border-radius: 5px;
  z-index: 3;
}


/* TIMELINE SECTION */
.timeline {
  /* background-color: red; */
  height: 1800px;
  background: url(./images/dark-sleek.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heading-placeholder {
  background-color: white;
  height: 4rem;
}

.timeline-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black;
  margin-top: 5rem;
  /* background: linear-gradient(rgb(54, 52, 52), rgb(104, 104, 104)); */
  
}

.timeline-title {
  font-size: 40px;
  font-family: Arial;
  letter-spacing: .2rem;
  border-bottom-style: ridge;
  border-color: silver;
  color: rgb(230, 230, 230)
}

.timeline-header {
  height: 150px;
}

.resume-here {
  background: rgb(255, 255, 255);
  height: 30px;
  width: 100px;
  color: black;
  margin-bottom: 0;
  font-size: 1rem;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.experience-title {
  color: rgb(230, 230, 230);
  font-size: 1.4rem;
}

.timeline-items {
  display: flex;
  flex-direction:  column;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  position: relative;
}

.timeline-item {
  height: 10rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: rgb(230, 230, 230);
  background: rgb(71, 71, 71);
  cursor: pointer;
  padding: 0 20px;
  padding-bottom: 2px;
  visibility: hidden;
  opacity: 0;
}

.timeline-item h4 {
  /* background: url('./images/white-sleek.jpeg'); */
  width: 100%;
  height: 40px;
  /* color: rgb(168, 0, 0); */

}

.timeline-item h4
 {
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: left;
  font-family: 'Cairo';
}
.timeline-item h6 {
  margin-top: 5px;
  font-family: 'Cairo';
}

.year-left {
  color: rgb(102, 110, 117);
  background: rgb(255, 255, 255);
  z-index: 2;
  border-radius: 5px;
  font-family: 'Cairo';
  padding: 0px 3px;
}
.year-right {
  color: rgb(102, 110, 117);
  background: rgb(255, 255, 255);
  z-index: 2;
  border-radius: 5px;
  font-family: 'Cairo';
  font-size: 1rem;
  padding: 0px 2px;
}




.top-item {
  margin-right: 40rem;
  transform: translateX(-100px);
  transition: all .5s ease-in-out;
  position: relative;
}

.top-item::after {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid rgb(71, 71, 71);
  content: "";
  transform: rotate(90deg);
  position: absolute;
  right: -10px;
  top: -.25px;
}
.bottom-item::after {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid rgb(71, 71, 71);
  content: "";
  transform: rotate(-90deg);
  position: absolute;
  left: -10px;
  top: -.25px;
}

.bottom-item {
  margin-left: 40rem;
  transform: translateX(100px);
  transition: all .5s ease-in-out;
}

.blip {
  height: 1rem;
  width: 1rem;
  position: absolute;
  display: flex;
  align-self: center;
  border-radius: 50%;
  border: rgb(172, 172, 172) solid 3px;
  background: white;
  z-index: 2;
}

.top-item .blip {
  margin-left: 40rem;
}

.bottom-item .blip {
  margin-right: 40rem;
}


.timeline-bar {
  width: 105%;
  height: 2px;
  border-radius: 10px;
  background: rgb(230, 230, 230);
  position: absolute;
  bottom: 54%;
  transform: rotate(90deg);
}

.timeline-item img {
  height: 50px;
  width: 50px;
  border-radius:50%;
  background: rgb(230, 230, 230);
  border: rgb(172, 172, 172) solid 1.5px;
  
}

#second-line {
  margin-top: 0;
}
#first-line {
  margin-bottom: 10px;
  line-height: 1.6;
}

/* Projects Sections */
.projects-title {
  color: white;
  font-size: 40px;
  font-family: Arial;
  letter-spacing: .2rem;

}

.projects-background {
  background: url('./images/project-background.jpeg');
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-grid {
  display: grid;
  grid-template: repeat(2, 350px) / repeat(3, 300px);
  grid-gap: 50px;
  justify-content: center;
  position: relative;
  margin-top: -50px;
}

.project-item {
  border: solid white;
  background: white;
  box-shadow: 2px 2px 2px 2px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 20px;
}

.project-image {
  width: 100%;
  height: 40px;
  margin-top: 0px;
  position: relative;
  color: rgb(168, 0, 0);
  border-bottom-style: ridge;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proj-name {
  text-align: center;
}

.tech-used {
  background: url(./images/white-sleek.png);
  height: 50px;
  width: 100%;
  border-radius: 5px;
}

.tech-used p {
  text-align: center;
  color: white;
  font-size: 12px;
}


/* About me Section */

.about-me-container {
  height: 800px;
  width: 100%;
  display: flex;
  background: rgb(255, 255, 255);
}

.headshot {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headshot img {
  height: auto;
  width: 20rem;
  border-radius: 50%;
}

.about-me-content {
  width: 50%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about-me-title {
  z-index: 2;
  width: 60%;
  color: rgb(54, 52, 52);
}

.about-me-buttons {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

.about-me-buttons h5 {
  height: 125px;
  width: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  color: white;
  cursor: pointer;
}

.about-me-default-description {
  color: rgb(54, 52, 52);
}

/* button styles */
.btn1 {
  border: solid rgb(168, 0, 0) 5px;
  color: rgb(168, 0, 0) !important;
}
.btn2 {
  border: solid rgb(168, 0, 0) 5px;
  background: rgb(168, 0, 0) 5px;
  color: rgb(168, 0, 0);
}
.btn3 {
  border: solid rgb(168, 0, 0) 5px;
  background: rgb(168, 0, 0) 5px;
  color: rgb(168, 0, 0);
}

.social-buttons {
  display: flex;
}
.social-buttons .btn {
  height: 30px;
  width: 100px;
  background-color: rgb(71, 71, 71);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.social-buttons .btn img {
  height: auto;
  width: 1rem;
  margin-right: 2px;
}

.social-buttons .btn p {
  color: white;
}

.desc {
  margin-top: 60px;
}

.d-none {
  display: none;
}

/* footer section */

footer {
  background:rgb(102, 110, 117);
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding: 0 10px;
}

footer img {
  height: auto;
  width: 2rem;
  background: white;
  border-radius: 5px;
  margin-right: 5px;
}



/* HOVER STATES */
.navbar-list li:hover,
.contact-heading:hover,
.title-buttons a:hover {
  border-bottom: rgb(102, 110, 117) ridge;
  border-width: 2px;
  transition: border ease-in-out .5s;
}

.mail-float a img:hover,
.linkedin-float a img:hover {
  border: solid rgb(168, 0, 0);
  border-width: 3px;
}

footer img,
footer p {
  cursor: pointer;
}

.social-buttons .btn:hover {
  background: rgb(168, 0, 0);
}

/* Show timeline items */
.timeline-item.show {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.profession::after {
  background: black;
  height: 45px;
  width: 4px;
  z-index: 2;
  content: " ";
  position: absolute;
  margin-left: .2rem;
  animation: blink 0.7s infinite ease;
}


@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}